.header_main_link {
    position: relative;
    opacity: 70%;
    transition: .3s;
}

.header_main_link::before {
    content: "";
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: .3s;
}

.header_main_link:hover {
    opacity: 100%;
}

.header_main_link:hover:before {
    width: 100%;
}

.scroll-to-top-btn:hover .scroll-to-top-icon {
    color: black;
}